<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>약꾸기's planning</title>
    <script src="static/audio.js"></script>
    <link rel="stylesheet" href="static/audio.css">

</head>
<body>
    <h1>약꾸기's planning</h1>

    <button id="recordButton">Start Recording</button>

    <h3>Transcription Result:</h3>
    <p id="transcriptionResult">No transcription yet.</p>
    <p id="positiveStatus">Positive Statement Detected: <span id="positiveCheck">No</span></p>
    <p id="dateChecked">Date Checked: <span id="dateCheckValue">N/A</span></p>

    
</body>
</html>
