<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>약꾸기’s planning</title>
    <link rel="stylesheet" href="static/calendar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/calendar.js"></script>
</head>
<body>
    <h1>약꾸기’s planning</h1>
    <div class="sec_cal">
        <div class="cal_nav">
            <a href="javascript:;" class="nav-btn go-prev">prev</a>
            <div class="year-month"></div>
            <a href="javascript:;" class="nav-btn go-next">next</a>
        </div>
        <div class="cal_wrap">
            <div class="days">
                <div class="day">SUN</div>
                <div class="day">MON</div>
                <div class="day">TUE</div>
                <div class="day">WED</div>
                <div class="day">THU</div>
                <div class="day">FRI</div>
                <div class="day">SAT</div>
            </div>
            <div class="dates"></div>
        </div>
    </div>
    <button id="recordButton">Start Recording</button>

    <p id="transcriptionResult">No transcription yet.</p>
    <button id="confirmButton">확인</button>
    </div>
</body>
</html>
